:root {
  --bg-color: #e9effd;
  --primary-color: #ff3b30;
}

* {
  font-family: "Fz Poppins", sans-serif;
}

.container-auth {
  max-width: 1135px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.login-container {
  width: 100%;
  max-width: 23rem;
}

.auth-input {
  border: 1px solid #bdbdbd;
  background-color: #f9f9f9;
  font-size: 16px;
  padding: 0.7rem 1rem;
}

.auth-icon {
  position: absolute;
  top: 12px;
  right: 7px;
  pointer-events: none;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none; /* Removes the border */
}

.dismiss-btn {
  width: 230px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0.5rem;
}

/* Định dạng sidebar */
.sidebar {
  min-height: calc(100vh - 103px);
  background-color: #fff !important;
  color: #000;
  /* position: relative;
  z-index: 1; */
}

.sidebar a {
  color: #000;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: var(--bg-color);
  color: black;
}

.nav-item {
  padding: 0.5rem 0;
}

.nav-link {
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.nav-link img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.active-link {
  background-color: var(--bg-color);
  color: var(--primary-color) !important;
  position: relative;
}

.active-link img {
  filter: brightness(0) saturate(100%) invert(48%) sepia(71%) saturate(4965%)
    hue-rotate(338deg) brightness(95%) contrast(112%);
}

.active-link::after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 4px; /* Border width */
  height: 105%;
  border-radius: 3px;
  background-color: var(--primary-color); /* Border color */
}

main {
  background-color: var(--bg-color);
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 103px);
}

.left-white {
  background-color: #fff;
  width: 50vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  margin-top: -103px;
}

.z-9999 {
  z-index: 9999;
}

@media (max-width: 991.98px) {
  .left-white {
    display: none;
  }

  .sidebar-title {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .sidebar {
    position: relative;
    z-index: 1;
  }
}

.p-07 {
  padding: 0.7rem;
}

.img-user {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.home-hero {
  height: 160px;
}

.hero-img {
  width: auto;
  height: calc(100% - 20px);
  object-fit: contain;
}

.hero-content {
  width: 100%;
  max-width: 47rem;
  height: 100%;
}

.line-bottom {
  width: 230px;
  height: 4px;
  background-color: var(--primary-color);
}

.border-line {
  border: 1px solid #bdbdbd;
}

.fs-09 {
  font-size: 0.9rem;
}

.btn-update {
  border: 1px solid #bdbdbd;
  width: 115px;
  font-family: "Fz Poppins Med", sans-serif;
  color: #968f8f;
}

select[multiple] {
  overflow-y: hidden; /* Hides vertical scrollbar */
  height: 150px; /* Set fixed height */
}

.rounded-35 {
  border-radius: 0.7rem;
}
