:root {
  --bg-color: #e9effd;
  --primary-color: #ff3b30;
}

* {
  font-family: "Fz Poppins", sans-serif;
}

.container-auth {
  max-width: 1135px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.login-container {
  width: 100%;
  max-width: 23rem;
}

.auth-input {
  border: 1px solid #bdbdbd;
  background-color: #f9f9f9;
  font-size: 16px;
  padding: 0.7rem 1rem;
}

.auth-icon {
  position: absolute;
  top: 12px;
  right: 7px;
  pointer-events: none;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none; /* Removes the border */
}

.dismiss-btn {
  width: 230px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0.5rem;
}
